# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Docker
*.log
postgres_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node (future frontend)
node_modules/

# Env secrets
backend/.env